<div class="filter-condition mb-2 p-3" 
     data-controller="filter"
     data-group-index="<%= group_index %>"
     data-condition-index="<%= condition_index %>">

  <div class="row g-2 align-items-end">
    <div class="col" style="max-width: 100px">
      <% if condition_index.zero? %>
        <p>Onde</p>
      <% elsif condition_index == 1 %>
        <select name="groups[<%= group_index %>][operator]" class="form-select" data-action="change->filter#toggleConditionOperator">
          <option value="AND" <%= 'selected' if (defined?(group) && group.operator == 'AND') || operator == 'AND' %>>E</option>
          <option value="OR" <%= 'selected' if (defined?(group) && group.operator == 'OR') || operator == 'OR' %>>Ou</option>
        </select>
      <% else %>
        <p 
        data-filter-target="operatorDisplay" 
           data-condition-index="<%= condition_index %>"
           data-group-index="<%= group_index %>"
        >
          <%= operator.presence || '—' %>
          </p>
      <% end %>
    </div>

    <div class="col">
      <% fields = %w[title description status start_date end_date kind completed_percent priority urgency points user] %>
      <%= select_tag "groups[#{group_index}][filters][#{condition_index}][field]",
            options_for_select(fields.map { |f| [field_label(f), f] }, condition.field),
            include_blank: "Selecione o campo",
            class: "form-select",
            data: { 
              action: "change->filter#toggleField",
              filter_target: "fieldSelect"
            } %>
    </div>

    <div class="col" data-filter-target="valueWrapper">
      <% fields.each do |f| %>
        <div data-filter-target="inputWrapper" data-field="<%= f %>" class="d-none">
          <% type = field_type(f) rescue 'text' %>

          <% if type == "text" %>
            <%= text_field_tag "groups[#{group_index}][filters][#{condition_index}][value][]", "", class: "form-control", placeholder: "Valor do campo" %>
          <% elsif type == "number" %>
            <%= number_field_tag "groups[#{group_index}][filters][#{condition_index}][value][]", "", class: "form-control", placeholder: "Valor do campo" %>
          <% elsif type == "date" %>
            <%= date_field_tag "groups[#{group_index}][filters][#{condition_index}][value][]", "", class: "form-control" %>
          <% elsif type == "select" %>
          <%= select_tag(
            "groups[#{group_index}][filters][#{condition_index}][value][]",
            options_for_select(field_options(f)&.map { |opt| [opt[:label], opt[:value]] }),
            class: "form-select"
          ) %>
        <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-auto">
      <button type="button" class="btn btn-sm remove-condition" data-action="filter#removeCondition">
        <span class="material-symbols-outlined fs-6 text-center color-secondary">delete</span>
      </button>
    </div>
  </div>
</div>
