<div id="<%= dom_id activity %>">
  <p>
    <strong>Título:</strong>
    <%= activity.title %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= activity.status %>
  </p>

  <p>
    <strong>Início:</strong>
    <%= activity.start_date %>
  </p>

  <p>
    <strong>Término:</strong>
    <%= activity.end_date %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= activity.kind_value %>
  </p>

  <p>
    <strong>% Completo%:</strong>
    <%= activity.completed_percent %>
  </p>

  <p>
    <strong>Prioridade:</strong>
    <%= activity.priority %>
  </p>

  <p>
    <strong>Urgência:</strong>
    <%= activity.urgency_value %>
  </p>

  <p>
    <strong>Pontos:</strong>
    <%= activity.points %>
  </p>

</div>
